#<IfModule mod_rewrite.c>
#    Options +FollowSymlinks
#    RewriteEngine On
#</IfModule>
#
#<IfModule mod_rewrite.c>
#    # если /admin, то в backend
#    RewriteCond %{REQUEST_URI} ^/(admin)
#    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
#    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
#    RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
#
#    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|js|css|js)/
#    RewriteCond %{REQUEST_URI} ^/(admin)
#    RewriteRule ^.*$ backend/web [L]
#
#    RewriteCond %{REQUEST_URI} ^/(assets|css|js|images)
#    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
#    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
#    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
#    RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
#    RewriteRule ^(.*)$ frontend/web/$1 [L]
#    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|js)/
#    RewriteCond %{REQUEST_URI} !index.php
#    RewriteCond %{REQUEST_FILENAME} !-f [OR]
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^.*$ frontend/web
#</IfModule>

#AddDefaultCharset UTF-8
#
#Options FollowSymLinks
#DirectoryIndex index.php index.html
#RewriteEngine on
#
#RewriteRule /\. - [L,F]
#
## define the app environment variable
#RewriteCond %{REQUEST_URI} !^/((frontend|backend)/web|admin)
#RewriteRule ^ - [E=APP:frontend]
#RewriteCond %{REQUEST_URI} (?!^/backend/web)^/admin
#RewriteRule ^ - [E=APP:backend]
#
## rewrite the URI of the frontend app
#RewriteCond %{ENV:APP} =frontend
#RewriteRule ^ frontend/web%{REQUEST_URI}
## if a directory or a file exists, use the request directly
#RewriteCond %{ENV:APP} =frontend
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
## otherwise forward the request to index.php
#RewriteRule ^ frontend/web/index.php [L]
#
## redirect to the URL without a trailing slash (uncomment if necessary)
##RewriteRule ^admin/$ /admin [L,R=301]
#
## rewrite the URI of the backend app
#RewriteCond %{ENV:APP} =backend
#RewriteRule ^admin/?(.*)$ backend/web/$1
## if a directory or a file exists, use the request directly
#RewriteCond %{ENV:APP} =backend
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
## otherwise forward the request to index.php
#RewriteRule ^ backend/web/index.php [L]
#
## handle a directory trailing slash, redirect to the initial URI instead the rewritten one
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [L,R=301]

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# Если запрос начинается с /administrator, то заменяем на /backend/web/
RewriteCond %{REQUEST_URI} ^/adminpanel
RewriteRule ^adminpanel/?(.*) /backend/web/$1

# Добавляем другой запрос /frontend/web/$1
RewriteCond %{REQUEST_URI} !^/(frontend/web|backend/web|adminpanel)
RewriteRule (.*) /frontend/web/$1